<div class='content'>
  <h3>Create a Celebrity</h3>
  <form method='POST' action='/celebrities/create'>
    <label for='nameInput'>Celebrity Name</label>
    <input type='text' name='name' />

    <label for='occupationInput'>Celebrity Occupation</label>
    <input type='text' name='occupation' />

    <label for='phraseInput'>Celebrity catchPhrase</label>
    <input type='text' name='catchPhrase' />
    <button>Submit</button>
  </form>
</div>